@font-face {
  font-family: "Inter";
  src: url("../font/Inter-SemiBold.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../font/Inter-BlackItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 900;
}
